<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Questions</servlet-name>
        <servlet-class>Questions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionsC</servlet-name>
        <servlet-class>questionsC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Result</servlet-name>
        <servlet-class>Result.Result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resultt</servlet-name>
        <servlet-class>Resultt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Parinaam</servlet-name>
        <servlet-class>Parinaam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Increment</servlet-name>
        <servlet-class>Increment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inc</servlet-name>
        <servlet-class>Inc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Decrement</servlet-name>
        <servlet-class>Decrement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Questions</servlet-name>
        <url-pattern>/ques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionsC</servlet-name>
        <url-pattern>/questionsC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/Result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resultt</servlet-name>
        <url-pattern>/Resultt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Parinaam</servlet-name>
        <url-pattern>/Parinaam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Increment</servlet-name>
        <url-pattern>/Increment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inc</servlet-name>
        <url-pattern>/Inc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Decrement</servlet-name>
        <url-pattern>/Decrement</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
